* {
    font-family: Arial, Helvetica, sans-serif
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}


nav {
    height: 10%;
}


#logo, #searchbar, #options {
  display: inline-block;
  padding: 10px;
}

#logo img {
    height: 50px;
    width: 115px;
}

#logo img:hover {
    cursor: pointer;
}
    
#searchbar {
    padding-top: 0px;
    position: relative;
    bottom: 15px;
}

.search-container {
    border: 1px solid lightgray;
    width: 675px;
    height: 40px;
    display: flex;
    justify-content: center;
    border-radius: 20px;
}

.search-container:hover {
   box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

input {
    width: 450px;
    outline: none;
    background-color: transparent;
    border: none;
}

.icon {
    height: 20px;
    width: 20px;
}

.icon:hover {
    cursor: pointer;
}

#search {
    position: relative;
    top: 25px;
    left: 70px;
}

.box {
    border-right: 1px solid lightgray;
    width: 40px;
    height: 20px;
    position: relative;
    top: 10px;
    left: 50px;
}

.box-one {
    position: relative;
    bottom: 15px;
    right: 5px;

}

#button {
    padding: 12px 25px 12px 25px;
    background-color:#2b7de9;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    cursor: default;
    font-size: 13;
}

#button:hover {
    text-decoration: none;
    background-color: #4285f4;
    cursor: pointer;
}

#options {
    float: right;
    padding: 30px;
    position: relative;
    bottom: 15px;
}

.more-options {
    height: 25px;
    width: 100%;
    border-bottom: 1px solid lightgray;
}

#options-two {
    height: 5%;
    width: 100%;
   
}

ul {
    display: inline-block;
}

.left {
    float: left;
    position: relative;
    left: 10%;
    bottom: 20px;
}

.right {
    float: right;
    position: relative;
    right: 25%;
    bottom: 14px;
}

ul li a img {
    height: 25px;
    width: 25px;
    position: relative;
    top: 5px;
}

ul li {
    display: inline-block;
}

ul li a {
    color: rgba(0, 0, 0, 0.664);
    font-size: 12px;
    padding: 5px;
    text-decoration: none;
}

#play img, #news img{
   height: 15px;
   width: 15px;
}

#all a{
    color: #2b7de9;
    border-bottom: 3px solid #2b7de9;
    padding-bottom: 15px;
}


#tools {
    padding: 5px;
}

#tools:hover {
    border: 1px solid lightgray;
    border-radius: 2px;
}

#results-stats {
    height: 40px;
    width: 100%;
}

#results-stats p {
    font-size: 13px;
    color: rgba(0, 0, 0, 0.664);
    float: left;
    position: relative;
    right: 21%;
    top: 45%;
}

.advirtisement {
    margin-top: 15px;
}

.advirtisement a {
    text-decoration: none;
}

.advirtisement a:hover {
    text-decoration: underline;
}

.ad {
    font-size: 13px;
    position: relative;
    left: 8%;
}

span {
    font-weight: bold;
    padding-right: 10px;
}

.ad:hover {
    cursor: pointer;
}

.advirtisement img {
    display: inline-block;
    height: 25px;
    width: 25px;
    position: relative;
    top: 6px;
}

.website {
    margin: 15px;
    width: 45%;
    position: relative;
    left: 6.5%;
}

.website a {
    font-size: 20px;
}

.description {
    margin-top: 10px;
}

.description p{
color: rgba(0, 0, 0, 0.664);
font-size: 15px;
line-height: 20px;
padding-bottom: 5px;
}

.links a {
    color:#1a0dab;
    font-size: 15px;
}

.links a:hover {
    text-decoration: underline;
}
